<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 id="page-title">Messageboard</h1>
  <h2>Messages</h2>
  <div id="messages-container">
    <% messages.forEach((message)=> { %>
      <div class="message">
        <div class="message-top">
          <p class="message-user">
            <%= message.user %>
          </p>
          <p class="message-date">
            (<%= message.added.toLocaleString() %>)
          </p>
        </div>
        <p class="message-text">
          <%= message.text %>
        </p>
      </div>
      <% }) %>
  </div>
  <h3><a href="/new">Post a new message</a></h3>
</body>

</html>