body {
  padding: 8px 32px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00b7ff;
}

p {
  margin: 0;
}

#page-title {
  align-self: center;
}

#messages-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  gap: 16px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.message-user {
  font-weight: bold;
}

.message-text {
  padding-left: 8px;
}
